<Section id="contactUs">
  <div class="headline">
    <h1>Care Dental Home</h1>
  </div>
  <div class="contacts mt-4">
    <div class="row m-0">
      <div class="col-md-4 px-0">
        <div class="contact text-center">
          <i class="fas fa-home fa-2x mb-3"></i>

          <h3>Address</h3>
          <p>Kupandole( Inside diabetic center) , Lalitpur</p>
        </div>
      </div>
      <div class="col-md-4 px-0">
        <div class="contact text-center">
          <i class="fas fa-home fa-2x mb-3"></i>

          <h3>Phone Number</h3>
          <p>01-5261173</p>
        </div>
      </div>
      <div class="col-md-4 px-0">
        <div class="contact text-center">
          <i class="fas fa-home fa-2x mb-3"></i>
          <h3>Email</h3>
          <p>caredentalhome@gmail.com</p>
        </div>
      </div>
    </div>
    <div></div>
  </div>
</Section>
