<div class="container py-5">
  <h2 class="text-center">Meet Our Staff</h2>
  <section class="d-flex flex-wrap flex-column justify-content-center">
    <div class="d-flex flex-row flex-wrap justify-content-around">
      <!-- first profile -->
      <div class="col-4" *ngFor="let s of staff">
        <div class="d-flex flex-column align-items-center">
          <img [src]="s.img" alt="" class="staff-image" />
          <h4 class="staff-title">{{ s.name }}</h4>
          <p class="text-secondary my-0">{{ s.email }}</p>
          <h6 class="text-primary">{{ s.profession }}</h6>
          <br />
          <p class="text-center">{{ s.description }}</p>
        </div>
      </div>
    </div>
  </section>
</div>
