<section id="visits">
  <div class="card main-card m-4 p-4">
    <div class="description">
      <h4 class="mb-4 font-weight-bold main-color">My Visits</h4>
    </div>
    <div id="accordion">
      <div class="card" *ngFor="let visit of visits; let i = index">
        <div class="card-header">
          <div
            class="
              mb-0
              px-4
              d-flex
              justify-content-between
              align-items-center
              w-100
            "
          >
            <button
              class="btn btn-link mr-2"
              data-toggle="collapse"
              [attr.data-target]="'#collapseOne' + i"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              {{ (visit?.doctorTime?.date | date: "mediumDate") || "NA" }}
              <i class="fa fa-angle-down ml-2"></i>
            </button>
            <div class="done-wrapper" *ngIf="!visit?.loading">
              <label [for]="'done' + i">{{
                visit?.done ? "Done" : "Not Done"
              }}</label
              ><input
                [id]="'done' + i"
                type="checkbox"
                [checked]="visit?.done"
                (change)="toggleDone($event, i)"
              />
            </div>
            <div *ngIf="visit?.loading">
              <i class="fas fa-spinner fa-spin"></i>
            </div>
          </div>
        </div>

        <div [id]="'collapseOne' + i" class="collapse" data-parent="#accordion">
          <div class="infos">
            <div class="show-reports">
              <button
                class="btn show-btn"
                (click)="showReports(visit?.patient?.id)"
                data-toggle="modal"
                data-target="#reportsModal"
              >
                Show Reports
              </button>
            </div>
            <div class="info">
              <h4>Patient Name</h4>
              <p>{{ visit?.patient?.name }}</p>
            </div>
            <div class="info">
              <h4>Date</h4>
              <p>{{ visit?.doctorTime?.date || "NA" }}</p>
            </div>
            <div class="info">
              <h4>Time</h4>
              <p>
                {{ visit?.doctorTime?.from + "-" + visit?.doctorTime?.to }}
              </p>
            </div>
            <div class="info">
              <h4>Age</h4>
              <p>{{ getAge(visit?.patient?.birthday) || "NA" }}</p>
            </div>
            <div class="info">
              <h4>Notes</h4>
              <p>{{ visit.notes || "NA" }}</p>
            </div>
            <div class="add-report" *ngIf="visit?.done">
              <input
                type="file"
                accept="application/pdf"
                #file
                class="d-none"
                (change)="uploadReport($event, i)"
              />
              <button
                class="btn save-btn"
                (click)="file.click()"
                *ngIf="!visit?.uploading"
              >
                Upload Report
              </button>
              <div class="upload" *ngIf="visit?.uploading">
                <label for="file">Uploading progress: </label>
                <progress id="file" [value]="visit?.progress || 0" max="100">
                  32%
                </progress>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div
  class="modal fade"
  id="reportsModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reports</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="!loading.reports">
          <div class="table-wrapper" *ngIf="patientReports?.length > 0">
            <table>
              <tr>
                <th>Date</th>
                <th>Link</th>
              </tr>
              <tr class="pointer" *ngFor="let report of patientReports">
                <td>{{ (report?.created_at | date: "mediumDate") || "NA" }}</td>
                <td>
                  <a
                    [href]="report?.link"
                    target="_blank"
                    class="btn save-btn py-1"
                    >show</a
                  >
                </td>
              </tr>
            </table>
          </div>
          <div class="table-wrapper" *ngIf="patientReports?.length == 0">
            <p class="text-center my-5">No Reports yet</p>
          </div>
        </div>
        <div class="loading" *ngIf="loading.reports">
          <i class="fas fa-spinner fa-spin"></i>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
