.done-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;
  label {
    margin: 0;
  }
  input {
    height: 15px;
    width: 15px;
  }
}
.btn-link {
  text-decoration: none;
  color: var(--main-color);
}
.main-card.card {
  border-radius: 13px;
  padding: 20px;
}
#visits {
  min-height: 100vh;
  padding: 20px;
  background-color: #f5f5f5;
}
.infos {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: relative;
  .show-reports {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 2em;
    .show-btn {
      font-size: 0.8em;
      background: var(--main-color);
      color: white;
    }
  }
  .info {
    h4,
    p {
      margin: 0;
    }
    h4 {
      color: var(--side-color);
    }
  }
}

.add-report {
  display: flex;
  justify-content: center;
  align-items: center;
}
.save-btn {
  max-width: 250px;
  background-color: var(--side-color);
  color: white;
  padding: 0.875rem 0.75rem;
}
.upload {
  display: flex;
  justify-content: center;
  align-items: center;
  label {
    margin-right: 0.5em;
  }
}
.table-wrapper {
  overflow-x: auto;
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    width: 100%;
  }
  th,
  td {
    text-align: center;
    padding: 16px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
}
