<section id="login" class="">
  <div
    class="d-flex justify-content-center align-items-center login-form h-100"
  >
    <div class="form-container">
      <h2 class="text-center text-white mb-4">User Signup</h2>
      <form #loginForm="ngForm">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input
            [(ngModel)]="user.email"
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            name="email"
            required
          />
        </div>
        <div class="d-flex justify-content-center align-content-center">
          <div class="form-group mr-3">
            <label for="exampleInputEmail1">Name</label>
            <input
              [(ngModel)]="user.name"
              type="text"
              class="form-control"
              placeholder="Name"
              name="name"
              required
            />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Age</label>
            <input
              [(ngModel)]="user.age"
              type="number"
              class="form-control"
              placeholder="Age"
              name="age"
              required
            />
          </div>
        </div>
        <div class="d-flex justify-content-center align-content-center">
          <div class="form-group mr-3">
            <label>Phone number</label>
            <input
              [(ngModel)]="user.phone_number"
              type="text"
              class="form-control"
              placeholder="Phone"
              name="phone"
              required
              minlength="10"
              maxlength="15"
            />
          </div>
          <div class="form-group w-50">
            <label>gender</label>
            <select
              [(ngModel)]="user.gender"
              class="form-control"
              name="gender"
              required
            >
              <option selected>male</option>
              <option>female</option>
            </select>
          </div>
        </div>
        <div class="d-flex justify-content-center align-content-center">
          <div class="form-group mr-3">
            <label>Password</label>
            <input
              [(ngModel)]="user.password"
              type="password"
              class="form-control"
              placeholder="Password"
              name="password"
              required
              minlength="8"
              maxlength="32"
              #password
            />
          </div>
          <div class="form-group">
            <label>Confirm Password</label>
            <input
              [(ngModel)]="user.password_confirmation"
              type="password"
              class="form-control"
              placeholder="Password"
              name="passwordConfirm"
              required
              minlength="8"
              maxlength="32"
              #repassword
            />
          </div>
        </div>
        <button
          type="submit"
          class="btn login-btn"
          (click)="register()"
          [disabled]="!loginForm.valid || password.value != repassword.value"
        >
          Register
        </button>
        <div class="text-center mt-3">
          <p class="mt-4 mb-0">
            Already have an account?
            <a routerLink="/user-login" class="login-link">User Login</a>
          </p>
        </div>
        <div class="text-center">
          <p class="mt-4 mb-0">Are you a Doctor?</p>
          <a routerLink="/doctor-signup" class="login-link">Doctor Signup</a>
        </div>
      </form>
    </div>
  </div>
</section>
