<div class="wrapper">
  <h2>Visits</h2>
  <div class="table-wrapper">
    <table>
      <tr>
        <th>Patient</th>
        <th>Doctor</th>
        <th>Date Created</th>
      </tr>
      <tr class="pointer" *ngFor="let visit of visits">
        <td>{{ visit?.patient?.name }}</td>
        <td>{{ visit?.doctor?.name }}</td>
        <td>{{ visit?.created_at }}</td>
      </tr>
    </table>
  </div>
  <div class="pagination" *ngIf="pageData && pageData?.last_page > 1">
    <button class="muted">&laquo;</button>
    <button
      (click)="changePage(i + 1)"
      [ngClass]="{ active: i + 1 === pageData?.current_page }"
      *ngFor="let page of [].constructor(pageData?.last_page); let i = index"
    >
      {{ i + 1 }}
    </button>
    <button class="muted">&raquo;</button>
  </div>
</div>
