.main-bg {
  background-color: var(--main-color);
}
.admin-bg {
  background-color: #3737c1;
}
.app-navbar {
  padding: 0.7em 1.5em;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1071;
  box-shadow: 0 0 5px #121727;
  * {
    color: white;
  }
  .transparent {
    * {
      opacity: 0.8;
    }
  }
  .nav-item {
    display: flex;
    align-items: center;
  }
  .nav-item.active {
    * {
      opacity: 1;
      font-weight: bold;
    }
  }

  // .start-btn-link {
  //   opacity: 1 !important;
  // }
  .start-btn {
    background-color: white;
    color: var(--main-color);
    font-weight: bold;
    padding: 0.5em 0.5em;
  }
  .dropdown-menu a {
    color: var(--main-color);
    font-size: 0.8em;
  }
}
