<div class="sidebar">
  <a
    [routerLinkActive]="'active'"
    [routerLink]="['/home']"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <i class="fas fa-home"></i>
    <span>Home</span></a
  >
  <a
    [routerLinkActive]="'active'"
    [routerLink]="['/user-profile']"
    *ngIf="currentUser?.role == 'user'"
  >
    <i class="fas fa-user"></i>
    <span>Profile</span></a
  >
  <a
    [routerLinkActive]="'active'"
    [routerLink]="['/doctor-profile']"
    *ngIf="currentUser?.role == 'doctor'"
  >
    <i class="fas fa-user"></i>
    <span>Profile</span></a
  >
  <a
    [routerLinkActive]="'active'"
    [routerLink]="['/times']"
    *ngIf="currentUser?.role == 'doctor'"
  >
    <i class="fas fa-business-time"></i>
    <span>Work Times</span></a
  >
  <a
    [routerLinkActive]="'active'"
    [routerLink]="['/visits']"
    *ngIf="currentUser?.role == 'doctor'"
  >
    <i class="fas fa-calendar-check"></i>
    <span>Appointments</span></a
  >
  <a
    [routerLinkActive]="'active'"
    [routerLink]="['/reservations']"
    *ngIf="currentUser?.role == 'user'"
  >
    <i class="fas fa-calendar-check"></i>
    <span>Reservations</span></a
  >
  <a
    [routerLinkActive]="'active'"
    [routerLink]="['/user-visits']"
    *ngIf="currentUser?.role == 'user'"
  >
    <i class="fas fa-business-time"></i>
    <span>Visits</span></a
  >
</div>
