.brand {
  color: white;
}

.clinic-cover {
  min-height: 300px;
  background-size: cover;
  background-position: center;
  background-image: url("../../../assets/images/successful-medical-team (1).jpg");
}

.article {
  background-image: url("../../../assets/images/successful-medical-team (1).jpg");
  background-size: cover;
  background-position-x: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}
