<section class="d-flex-column">
  <div class="clinic-cover"></div>
  <div class="container py-5">
    <div class="text-center md-mb-30">
      <h2 class="text-uppercase font-weight-normal md-mb-30">
        About
        <span></span>
        <span class="text-primary font-weight-light">Us</span>
      </h2>
    </div>
    <div class="col-lg-12">
      <div class="g-mb-60">
        <h2 class="md-mb-30 text-center font-weight-medium my-3">
          Care Dental Home
        </h2>
        <p
          style="font-size: 19px; text-align: justify"
          class="text-secondary my-3"
        >
          Care Dental is focused on you. Our goal is to give our patients the
          best possible quality service. We are a specialist center where all
          the treatment is provided by a dental specialist who has a bachelor’s
          degree in dental surgery and a Master's Degree in their respective
          fields of dentistry from reputed institutions of Nepal and India
          (BPKIHS and AIIMS) with considerable experiences. They are the aces in
          their respective fields. We are proud to inform that only specialist
          from each field of dentistry provides service in our set up. We
          continue to employ and upgrade the latest and best dental
          technologies. We believe that we provide quality dental care in a
          pleasant environment.
        </p>
        <img
          class="img-fluid mt-2"
          src="../../../assets/images/29140.jpg"
          alt="Image Description"
        />
      </div>
    </div>
  </div>
</section>
