<div class="container">
  <div class="d-flex flex-column">
    <section class="d-flex flex-column align-items-center">
      <h5 class="title text-uppercase">Our Facilities</h5>
      <p style="width: 60%; text-align: center" class="text-secondary">
        Unify creative technology company providing key digital services.
        Focused on helping our clients to build a successful business on web and
        mobile.
      </p>
    </section>
    <!-- end of first section -->
    <!-- second section -->
    <section class="d-flex flex-row justify-content-around py-5">
      <div class="card" style="width: 20rem">
        <img
          src="../../../assets/images/patient-login.jpg"
          alt=""
          class="card-img-top"
        />

        <div class="card-body">
          <h5 class="card-title">
            DENTAL CHECKUP AND SPECIALIZED CONSULTATION
          </h5>
          <p class="card-text text-secondary">
            Dental check-up in our clinic is done by NMC registered
            dentist(dental surgeon) and Dental specialist. A dental check-up is
            one of the components of a Dental visit. Generally, the regular
            dental visit comprises a dental checkup and dental cleaning. At the
            dental examination, NMC registered Dentists would check for dental
            cavities and might take dental X-rays. They also examine for plaque
            or debris in your tooth and mouth. Our goal is to give our patients
            the best possible quality service. We are a specialist center where
            all the treatment is provided by a dental specialist who has a
            bachelor’s degree in dental surgery and a Master's Degree in their
            respective fields of dentistry from reputed institutions of Nepal
            and India (BPKIHS and AIIMS) with considerable experiences
          </p>
        </div>
      </div>

      <div class="card" style="width: 20rem">
        <img
          src="../../../assets/images/291420.jpg"
          alt=""
          class="card-img-top"
        />

        <div class="card-body">
          <h5 class="card-title">
            DENTAL CHECKUP AND SPECIALIZED CONSULTATION
          </h5>
          <p class="card-text text-secondary">
            Root canal treatment is a treatment where the infected pulp of the
            tooth is removed and the inside of the tooth is carefully cleaned
            and disinfected which results in the elimination of the infection
            and protection of the tooth from further microbial infection. The
            root is filled with a rubber-like material called Gutta percha. Root
            canal treatment in our clinic is done by the NMC registered
            Specialist, Dr. Sanjay Ranjit who is one of the brightest
            endodontists in Nepal. He is the only Endodontist to be graduated
            from the esteemed institute of AIIMS in Nepal
          </p>
        </div>
      </div>

      <div class="card" style="width: 20rem">
        <img
          src="../../../assets/images/doctor-image.jpg"
          alt=""
          class="card-img-top"
        />

        <div class="card-body">
          <h5 class="card-title">TOOTH AND GUM CLEANING AND TREATMENT</h5>
          <p class="card-text text-secondary">
            The main objectives of gum disease and tooth treatment and cleaning
            are to promote reattachment of healthy gums to teeth, reduce
            swelling and inflammation, cleaning of the deep pockets, and reduce
            the risk of infection, and stop disease progression. The tooth is
            deep cleaned by an experienced Registered Dental hygienist and or
            NMC registered dentist. By having professional cleanings on a
            regular basis, you will help to protect and restore the health of
            your teeth and gums. We take every opportunity to improve your oral
            health and, when helpful, and will develop a cleaning strategy to
            promote optimal dental care.
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
