/* You can add global styles to this file, and also import other style files */
@import "~ngx-toastr/toastr";
@import "./assets/scss/fonts";
:root {
  --main-color: #20344a;
  --side-color: #882954;
}
* {
  font-family: Poppins;
}
.main-color {
  color: var(--main-color);
}
.side-color {
  color: var(--side-color);
}
